<div id="left"><h1>Grands Projets </h1><span class="blue"> </span><br/>
    <br/>
	<ul>
	<li>Location de toiture

	<li>Construction de bâtiments industriels</li>
	</ul>
</div>
<div id="right"><br/>
	<photo><%= image_tag "exunImagesFiles/centrale-photo.jpg", :width => "225", :height => "149", :align => "left", :style => "margin-right:10px" %></photo>
	<photo><%= image_tag "exunImagesFiles/panneau-cereales.jpg", :width => "225", :height => "149", :align => "left", :style => "margin-right:10px" %></photo>
	<br/><br/><br/>
</div><br/>
<div style="clear: both;"></div>
