<div id="right"><h1>Qui sommes-nous </h1><span class="blue"> </span><br/>
    <br/>
    Société à caractère commerciale s'entourant des principaux acteurs de la région pour fournir des solutions clé en main de production et d'économie 
	d'énergie.<br/>
	<ul>
	<li>Solaire, photovoltaïque
	<li>Chauffe-eau solaire
	<li>Pompe à chaleur
	</ul>
	<br/><br/>
</div>
<div style="clear: both;"></div>
