<div id="left">
    <br/>
    <h1>Un placement sûr</h1>
   
    <span class="blue">Rentabilisez votre toit</span>
    <br/>
    <br/>
    N'attendez plus et utilisez votre toiture pour installer des panneaux photovoltaïques. Grâce à l'exposition du soleil sur votre toit tout au long de la journée, les capteurs solaires accumulent de l'énergie électrique que vous pouvez renvendre afin de générer un revenu complementaire. Vendez votre production d'électricite à prix garanti sur une période de 20ans à EDF.
	Ne réfléchissez plus, en installant des panneaux solaire photovoltaïques, vous pouvez percevoir une rente regulière issue de votre installation solaire sur le toit grâce au soleil !
	La rentabilité varie entre 8% et 12% ce qui fait de cette démarche, un investissement sûr qui vous permet d'envisager l'avenir plus sereinement tout en adoptant une attitude responsable et durable pour le respect de l'environnement.   <a href="#">En savoir plus</a>.		<br/>
    <br/>
    <hr >
    <h1>Pourquoi investir </h1>
	<span class="blue">Le photovoltaïque</span>
	<br/><br/>
    Alors que le livret A ne rapporte que 2.25%, investir dans le photovoltaïque est un placement sûr (contrat de rachat sur 20ans) à plus de 8% (rendement supérieur à tout produit financier).
	La France bénéficie du meilleur tarif de rachat, ce qui vous permet d'amortir votre investissement en moins de 10ans. Grâce à l'amortissement exceptionnel, vous pouvez faire baisser votre impôt sur le revenu dès la 1ère année qui suit la réalisation
	des travaux. La loi 2000-108 du 10 février 2000 relative à la modernisation et au developpement du service public de l'électricité a introduit la notion d'obligation d'achat. Ce contrat est etabli pour une durée de 20ans. 
    <br/>
    <br/>
</div>
<br/>
<div id="right"><h1>Histoire</h1><span class="blue">L’énergie solaire photovoltaïque</span><br/>
    <br/>
    
    De la même façon que les plantes utilisent la photosynthèse pour obtenir de l’énergie à partir des rayons du soleil, les modules photovoltaïques convertissent la lumière du soleil en électricité.
	C’est l’effet photovoltaïque, découvert en 1839 par le physicien français Alexandre-Edmond Becquerel.
    <br/>
    <br/>
    L’exploitation industrielle de cette découverte a permis le développement de différentes technologies pour la fabrication des modules photovoltaïques, qui sont les composants essentiels d’une installation de production d’électricité à partir de la lumière du soleil.<br/><br/><br/>
    <br/><br/>
	<h1>Valoriser votre maison</h1><br/>
	l'installation de panneaux solaires photovoltaïques participe fortement à la valorisation de votre maison. Lors de la revente de votre habitation,la présence de panneaux
	photovoltaïques est un réel avantage face aux autres biens immobiliers mis sur le marché dans le secteur. Autant dire que c'est un argument de taille qui est pris en compte
	pour fixer le prix de vente de votre maison. L'installation photovoltaïque apporte une valeur ajoutée qui rendra votre maison plus attractive aux yeux des acheteurs potentiels.
	Il s'agit donc d'un argument important à mettre en avantlors de la revente et des visites éventuelles.  
	<br/><br/>
    <h1>Nos Services</h1>
    <%= image_tag "exunImagesFiles/grenelle.png", :width => "150", :height => "113", :align => "left", :style => "margin-right:10px" %> <span class="blue">Notre savoir-faire à votre service</span><br/><br/>
    Helios Energia met tout en oeuvre afin de garantir le bon déroulement des étapes nécéssaires à la réalisation de votre projet. 
    <br/>
    <br/>
    <br/>
    <br/>
</div>
<div style="clear: both;"></div>
